@media (max-width: 768px) {

    .nav {
        flex-direction: column;
        padding: 10px;
    }

    .nav-item .nav-link {
        padding: 10px;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-container {
        display: none; 
    }

    .mobile-nav {
        display: none;
    }

    /* Adjust background positioning */
    .hero-section {
        background-size: cover;
    }

    .hero-section .parallax-background {
        background: url('assets/images/hero-mobile3.jpeg') no-repeat center top;
        background-size: cover;
    }

    /* Adjust text alignment and sizing */
    .hero-text {
        text-align: center; /* Center-align text on smaller screens */
        margin: 0 auto; /* Center the text block */
        padding: 25px;
        margin-top: -250px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.2);
    }

    .hero-text h1 {
        font-size: 2.5rem; /* Smaller font for mobile */
    }

    .hero-text p {
        font-size: 1rem;
    }

    .modal {
        padding-top: 20px;
    }

    .modal-carousel-container {
        width: 95%;
    }

    .modal .slick-prev,
    .modal .slick-next {
        display: none !important;
    }

    .close {
        top: 10px;
        right: 20px;
        font-size: 40px;
    }
}